NEXT_PUBLIC_SANITY_PROJECT_ID=your_project_id_here
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_API_VERSION="2025-09-25"
NEXT_PUBLIC_SANITY_STUDIO_URL="http://localhost:3333"
SANITY_API_READ_TOKEN=your_read_token_here
SANITY_WRITE_TOKEN=your_write_token_here

# Resend config

RESEND_API_KEY=your_api_key_here
RESEND_FROM="office@neovision.dev"
CONTACT_TO=contact_to_email_here

# Analytics

PLAUSIBLE_SCRIPT_URL=your_url_here
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=your_token_here
NEXT_PUBLIC_POSTHOG_HOST="https://eu.i.posthog.com"

# Dev

NODE_ENV="development"

UPSTASH_REDIS_REST_URL=your_url_here
UPSTASH_REDIS_REST_TOKEN=your_token_here

NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX